<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

        <% if(locals.product){%>

            <div class="productos">

                <h3 class="nombre-producto"> <%= product.titulo %> </h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src= <%= product.images[0] %> alt= <%= product.altimg %> >

                    <div class="imagenes-flex"> 
                        <% for (let index = 1; index < product.images.length; index++) {
                            const element = product.images[index];%>
                            
                            <img class="imagenes-pequeñas101" src="<%= element %>" alt="imagen del Producto"<%= index %>>
                      <%  } %>


                    

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            <%= product.descripcion %>
                        </div>

                        <br>

                        <h3 class="precio-producto">$<%= product.precio %></h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <% } else { %>

                <h4>Producto no encontrado</h4>
      
            <%} %>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>