<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: product.categoria ? product.categoria : '' })  %>


<body>

    <%- include('partials/header') %>




    <main>

        <% if(locals.product){%>

            <div class="productos">

                <h3 class="nombre-producto"> <%= product.titulo %> </h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src= <%= product.img1 %> alt= <%= product.altimg %> >

                    <div class="imagenes-flex">

                    <img class="imagenes-pequeñas101" src= <%= product.img2 %> alt=<%= product.altimg %>>

                    <img class="imagenes-pequeñas101" src= <%= product.img3 %> alt=<%= product.altimg %>>

                    <img class="imagenes-pequeñas101" src= <%= product.img4 %> alt=<%= product.altimg %>>

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            <%= product.descripcion %>
                        </div>

                        <br>

                        <h3 class="precio-producto">$<%= product.precio %></h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <% } else { %>

                <h4>Producto no encontrado</h4>
      
            <%} %>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>